.messageDetailsContainer {
  flex-grow: 1;
  padding-right: 0.2rem;
}

.messageDetailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messageDetailsHeader h1 {
    flex-grow: 1;
}

.imageDiv {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(220, 220, 220);
  border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid var(--brandColor);
  color: var(--brandColor);
}

.lastMessageImageIcon {
  margin-right: 0.2rem;
}

.lastMessageLoader {
  height: 0.5rem;
  border-radius: 0.04rem;
  width: 2rem;
  background-color: rgb(194, 194, 194);
}

.selectedUser {
  background-color: rgb(204, 204, 204) !important;
}

.popup-content {
  border-radius: 0.2rem !important ;
  overflow: hidden;
  z-index: ;
}

.editUserPopup {
  background-color: transparent;
  /* height: 8rem; */
  border-radius: 0.2rem !important ;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editUserPopupInputContainer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: .2rem;
}

.editUserPopupInputContainer label {
    font-size: .35rem;
    color: grey;
    /* width: 2.5rem; */
    margin-bottom: .2rem;
}

.editUserPopupInputContainer input {
    height: 1.1rem;
    border: 0;
    box-shadow: 0 4px 16px 0 #bfbfbf;
    border-radius: .14rem;
    width: 9rem;
}

.editUserPopup button{
    width: 100%;
    margin-top: .5rem;
    height: 1rem;
    border: 0;
    background-color: var(--brandColor);
    color: white;
    border-radius: .14rem;
}

.editUserBtn {
  background-color: transparent;
  border: 0;
  outline: none;
  margin: 0 0.3rem;
}

* {
  /* border: 1px solid red; */
}

.floatingLoabel{
    /* position: absolute;
    bottom: .2rem;
    right: .2rem; */
    background-color: rgba(128, 42, 143, .1);
    border-radius: .1rem;
    color: var(--brandColor) !important;
    padding: 0.2 .6rem !important;
    text-transform: capitalize;
    margin-left: .1rem !important;
    font-size: .3rem !important;
}

.user{
    position: relative;
}

.lastMessageInnerDiv2{
    display: flex;
    align-items: center;
}

.lastMessageText{
    flex-grow: 1;
}