nav {
  background-color: #80288f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 4px 16px #bfbfbf;
  min-height: 2rem;
  height: 2rem;
}

nav img {
  height: 1.4rem;
  width: 4rem;
  border-radius: 5px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin-right: 10px;
  list-style: none;
  /* background-color: rgb(117, 116, 116); */
  border-radius: 5px;
  /* height: 30px; */
  /* width: 50px; */
  /* animation: blink 1s linear infinite; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.skeltonItem{
  margin-right: 10px;
  list-style: none;
  background-color: rgb(117, 116, 116);
  border-radius: 5px;
  height: 50px;
  width: 150px;
  animation: blink 1s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logInNavBtn{
  padding: .1rem .6rem;
  font-size: .5rem;
  font-weight: 600;
  color: var(--brandColor);  
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.coachContainer .logInNavBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  outline: none;
  color: white;
}
.coachImage{
  height: 1.4rem;
  width: 1.4rem;
  background-color: grey;
  flex-shrink: 0;
  border-radius: 50%;
}

.coachContainer .logInNavBtn h1{
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: .8rem;
  font-size: .6rem;
}

.coachContainer .logInNavBtn p{
  margin: 0;
  padding: 0;
  line-height: .5rem;
  font-weight: 400;
  font-size: .4rem;
}

.coachDetails{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: .4rem;
}

.coachContainer svg{
  margin-left: .2rem;
  font-size: .4rem !important;
}

.logoutPopupDiv{
  height: 2rem;
  width: 4rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: .1rem;
  margin-top: 4.7rem;
  margin-left: 1rem;
  box-shadow: 0 4px 16px 0 #bfbfbf;
  border-radius: .1rem;
  overflow: hidden;
}

.popupBtn{
  width: 100%;
  border: 0;
  height: 1rem;
  border: 1px solid #bfbfbf;
}

.popupBtn:hover{
  background-color: #80288f;
  color: white;
}